.ActionLogPage {
  padding: 20px 0;
}

.ActionLogGrid-entryName {
  padding: 3px 0;

  .Badge {
    margin: -4px 5px 0 4px;
  }
}

.ActionLogGrid-entryActor {
  font-weight: 600;
}

.ActionLogGrid-item {
  display: flex;
  margin: 10px 0;

  &:last-child {
    margin-bottom: 0;
  }
  &:first-child {
    margin-top: 0;
  }
}

.ActionLogGrid-Avatar {
  margin-right: 8px;
}

.ActionLogGrid-entryDetails {
  display: flex;
  color: @muted-more-color;

  > * {
    &::after {
      content: "\2022";
      margin: 0 6px;
    }
    &:last-child::after {
      display: none;
    }
  }
}
